@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shojumaru&family=Stylish&display=swap');

:root{
	--color-principal: #ff5f6d;
	--color-boton-hover: #f75160;
	--color-naranja: #ffac2c;
	--color-negro: #29373c;
	--color-general: #999;
	
}

body{
	font-family: 'Stylish', sans-serif;
	font-size: 14px;
}

.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header-area.sticky{
	background-color: #fff !important;
}

.header-area.sticky .navbar-light .navbar-nav .nav-link{
	color: var(--color-naranja);
}
.header-area.sticky .navbar-light .navbar-nav .active .nav-link{
	color: var(--color-naranja);
}
.header-area.sticky .navbar-light .navbar-brand {
	color: var(--color-naranja);
}

nav .navtitle{
	font-family: 'Shojumaru';
	font-size: 10px;
}

nav .navsub{
	font-family: 'Nanum Pen Script';
	font-size: 25px;

}

#hero{
	text-align: center;
	background-image: url("../img/bg-hero.png");
	background-size: cover;
	height: 100%vh;
	color: white;
	padding-top: 3%;
}

#hero h1{
	font-family: 'Shojumaru';
	font-size: 5em;
	color: var(--color-naranja);
	padding-top: 15%;
}

#hero h2{
	font-family: 'Nanum Pen Script';
	font-size: 3em;
	padding: 2% 0;
}

#hero h2 a{
	color: var(--color-naranja);
	border-bottom: 1px dashed var(--color-naranja);
}

#hero .btn-outline-light{
	margin: 2% 10px;
	font-size: 1.5em;
	border: 2px solid;
}

#hero .btn-warning{
	margin: 2%;
	margin-bottom: 5%;
	font-size: 1.5em;
}

#offer{
	font-family: 'Nanum Pen Script';
	margin: 5% 0;
	text-align: center;
	padding: 5% 0;
}

#offer h2{
	font-size: 4em;
}

#offer h3{
	font-size: 2.5em;
	font-weight: 400;
}

.imgoffer{
	margin: 8% 0;
}

#offer img{
	height: 80px;
	width: 80px;
}

.infoicon h3, p{
	margin: 5% 0;
}

.infoicon p{
	font-family: 'Stylish';
	color: var(--color-general);
	font-size: 1.5em;
}

#faq{
	font-family: 'Nanum Pen Script';
	padding: 8% 0;
	background-color: #F3F3E4;
}

#faq img{
	height: 400px;
	width: 400px;
}

#faq h2{
	font-size: 4em;
}

#question{

	padding: 8% 35%;
}

#question img{
	height: 100px;
	width: 100px;
}

#question h2{
	font-family: 'Nanum Pen Script';
	font-size: 2.8em;
}

#question p{
	font-size:  1em;
}
.infoq{
	margin: 0 10%;
}

#contact{
	font-size: 1.3em;
	background-color:  #F3F3E4;
	padding: 8% 0;
	text-align: center;
}

footer{
	padding: 5% 0;
	text-align: center;
	background-color: var(--color-naranja);
}

footer img{
	margin: 5% 0;
	height: 300px;
	width: 300px;
}

footer h3{
	font-size: 1.5em;
}